/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    color: #6A4E23; /* Marron */
    background-color: #f5f5f5; /* Fond clair */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center; /* Centrer tout le texte */
}

header {
    padding: 50px 50px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    width: 80%;
    max-width: 600px; /* Limiter la largeur des paragraphes */
    margin: 0 auto;
    text-align: justify;
}

main {
    width: 100%;
    padding: 30px 20px;
}

/* Section container */
section {
    margin-bottom: 60px;
    text-align: center;
}

h2 {
    font-size: 1rem; /* Réduire la taille des sous-titres */
    color: #6A4E23;
    margin: 10px auto;
    text-align: center;
}

.chart-container {
    width: 100%; /* Utilise toute la largeur de la page */
    margin: 0 auto; /* Centrer les graphiques */
    padding: 20px 0;
}

.chart-container iframe {
    display: block;
    width: 100%; /* Occupe toute la largeur */
    height: 90vh; /* Utilise 90% de la hauteur de l'écran */
    border: none;
}

/* Full width for Graph 3 */
.full-width iframe {
    height: 100vh; /* Le graphique 3 occupe toute la hauteur */
}

/* Footer styles */
footer {
    background-color: #6A4E23;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    h2 {
        font-size: 0.9rem; /* Réduire encore la taille des sous-titres sur mobile */
    }
    .chart-container iframe {
        height: 70vh; /* Réduire la hauteur sur petits écrans */
    }
}
